body {
    background-color: lightblue;
}

h1 {
    color: red;
    font-size: 50px;
    text-align: center;
}

h2 {
    color:blueviolet;
    font-size: 20px;
    margin-left: 100px;
}

p {
    color: darkslategrey;
    font-size: 20px;
    margin-left: 150px;
}

ol {
    color:chocolate;
    font-size: 20px;
    margin-left: 80px;
}

ul {
    color: chocolate;
    font-size: 20px;
    margin-left: 80px;
}

a {
    color:crimson;
}

.content-left {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.content-right {
    background-color: khaki;
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 200px;
    border-radius: 30px;
    margin-left: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.sizes {
    width: 500px;
    height: 400px;
}

.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    gap: 10px;
    border-radius: 30px;
    margin-right: 5px;
}

.container {
    display: flex;
    background-color: brown;
    flex-direction: row;
    justify-content: center;
    border-radius: 30px;
}

.block {
    background-color: burlywood;
    width: 200px;
    height: 200px;
    padding: 15px;
}

.container-2 {
    display: flex;
    background-color: burlywood;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.block-2 {
    display: flex;
    background-color: brown;
    width: 500px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-3 {
    display: flex;
    background-color: coral;
    border: red;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
}

.block-3 {
    background-color: green;
    width: 200px;
    height: 200px;
    border: blue;
    border-radius: 30px;
}

.container-4 {
    display: flex;
    background-color: black;
    flex-direction: row;
    width: 100%;
    height: 1000px;
    border-radius: 30px;
}

.block-4 {
    width: 200px;
    height: 200px;
}

#one {
    background-color: red;
    position: relative;
    top: 350px;
    left: 500px;
}

#two {
    background-color: green;
    position: relative;
    top: 450px;
    left: 450px;
}

#three {
    background-color: blue;
    position: relative;
    top: 580px;
    left: 380px;
}

.fixed-element {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 865px;
    left: 1760px;
}